body {
    background-color: darkblue;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to bottom, black, rgb(74, 73, 73), grey );
    color: white;
    padding: 30px;
    margin: 0 auto;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  71%;
    margin: 50px auto;
    border: 2px solid gray;
    box-shadow: 5px 10px #888888;
    line-height: 2rem;
    color: white;
    background-image: linear-gradient(to bottom, rgb(54, 6, 54), rgb(145, 23, 141));
}

#card-header {
    background-image: linear-gradient(to bottom, rgb(110, 3, 3), rgb(255, 33, 4));
    display: flex;
    width: 100%;
    margin: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(10, 226, 255);
}


.list-items {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    justify-content: center;
    color: rgb(10, 226, 255);
    width: 690px;
    font-size: 20px;
}


.emphasis {
    color: white;
    font-weight: bolder;
    font-size: 21px;
}

ol {
    padding-left: 40px;
    font-size: 20px;
}

footer {
    display: flex;
    max-width: calc(100%-48);
    min-width: calc(100%-48);
    background-color: blue;
    height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}