body {
    background-image: linear-gradient(to bottom, rgb(9, 81, 105) 40%, rgb(20, 162, 209) 87%, rgb(54, 191, 236) 104%);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to bottom, rgb(235, 134, 4) 35%, rgb(235, 142, 20) 50%, rgb(255, 187, 0));
    color: white;
    padding: 30px;
    margin: 0 auto;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  40%;
    margin: 50px auto;
    border: 2px solid gray;
    box-shadow: 5px 10px #888888;
    line-height: 2rem;
    color: white;
    background-image: linear-gradient(to bottom, rgb(31, 31, 31) 6%, rgb(115, 115, 115)135%, rgb(151, 150, 150));
}

#card-header {
    background-image: linear-gradient(to bottom, rgb(65, 4, 4), rgb(160, 19, 1), rgb(255, 0, 0));
    display: flex;
    width: 100%;
    margin: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(255, 214, 10);
}


.list-items {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    justify-content: center;
    color: rgb(31, 206, 28);
    width: 710px;
    font-size: 20px;
    line-height: 1.9;
}

#git-ul {
    margin-bottom: 10px;
}

#git-sync-steps {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

#git-ol {
    margin-top: 30px;
}

.emphasis {
    color: rgb(242, 194, 2);
    font-weight: bolder;
    font-size: 21px;
    font-style: italic;
}

#case-sense, #or, #not, #git-add-1, #git-add-2, #http-400, #http-500, #union-op, #function, #private, #between, #properties, #js-example, #method, #blueprint {
    color: aqua;
    font-weight: bold;
}

.code {
    display: inline;
    margin-top: 0;
    background-color: black;
    padding: 7px;
    font-size: 15px;
}

footer {
    display: flex;
    max-width: calc(100%-48);
    min-width: calc(100%-48);
    background-color: blue;
    height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
